.Message {
    border-top: 1px solid grey;
    margin-bottom: 15px;
    padding: 10px;

}

.title {
    padding-left: 10px;
    line-height: 2;
    background-color: lightgray;
    display: flex;
    border: 1px solid gray;
}

.Author {
    font-weight: bold;
    flex-grow: 8;
}

.Date {
    font-size: 10px;
    line-height: 3;
    flex-grow: 1
}

.Mes {
    padding-left: 10px;

    line-height: 3;
}
