.SendingForm {
    width: 55%;
    height: 150px;
    margin: 0 auto;
    border: 1px solid gray;
    padding-left: 5%;
    position: relative;

}

.AuthorName {
    width: 200px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 10px;

}

.TextMessage {
    width: 500px;
    height: 80px;
    resize: none;
    position: absolute;
    top: 35%;
    left: 10px;
}

.Button {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 35%;
    right: 10%;

}
